<div>
    <p>
        <label>Name</label><br>
        <input name="name" [(ngModel)]="newUser.name" #userName="ngModel" (ngModelChange)="onModelChanged()"/>
    </p>
    <p>
        <label>Age</label><br>
        <input type="number" name="age" [(ngModel)]="newUser.age" #userAge="ngModel"/>
    </p>
    <p>
        <label>Work</label><br>
        <select name="company" [(ngModel)]="newUser.company" #userCompany="ngModel">
            @for(comp of companies; track $index){
            <option [value]="comp">{{comp}}</option>
            }
        </select>
    </p>
    <button (click)="addUser()">Add new user</button>
</div>
<div>
    <span>{{userName.name}} : {{userName.value}}</span><br>
    <span>{{userAge.name}} : {{userAge.value}}</span><br>
    <span>{{userCompany.name}} : {{userCompany.value}}</span><br>
</div>
<div>
    <h3>All users:</h3>
    <ul>
        @for(user of users; track $index){
        <li>{{user.name}} ({{user.company}}) - {{user.age}}</li>
        }
    </ul>
</div>