<h1>Purchase list:</h1>
<div>
  <p>
    <label>Product</label><br />
    <input [(ngModel)]="text" />
  </p>
  <p>
    <label>Price</label><br />
    <input type="number" [(ngModel)]="price" />
  </p>
  <button (click)="addItem(text, price)">Add</button>
</div>
<br />
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Purchased</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track item.purchase) {
    <tr>
      <td>{{ item.purchase }}</td>
      <td>{{ item.price }}</td>
      <td><input type="checkbox" [(ngModel)]="item.done" /></td>
    </tr>
    }
  </tbody>
</table>
<p>
  Wow, you have the most expensive item - <span class="highlight"> {{ getMaxPrice() }}</span>
</p>

<input type="text" [(ngModel)]="name" />

<p>My real name is
@switch (name) {
    @case ('Todd') {
        Teddy
    }
    @case ('Mark') {
        Markelllo
    }
    @case ('Aaaa') {
        Mmmmmm
    }
    @default {
        ... What does {{name}} mean?
    }
}
</p>

<h2>Number of clicks: {{clicks}}</h2>

<child-comp (onChanged)="onChanged($event)" [shittyText]="message"><h2>It's Briney bit*h</h2></child-comp>